<% provide(:title, 'Words') %>
<div id="word-entries-manage" class="hero-unit">
  <h1>Words</h1>
  <h2>Manage</h2>
  <hr/>
  <div class="row">
    <div class="span11 center">
    	<p> Look up a single word. Then choose to add or remove it from the dictionary.</p>
			<%= form_tag("/look_up", method: "get") do %>
			  <%= text_field_tag(:word, "", placeholder: ". . .") %>
			<% end %>
		</div>
	</div>
</div>