<% provide(:title, 'Manage words') %>
<div id="word-entries-manage" class="hero-unit">
  <%= heading 'Words', 'Manage' %>
  <div class="row">
    <div class="span11 center">
    	<p> Look up a single word. Then choose to add or remove it from the dictionary.</p>
			<%= form_tag("/look_up", method: "get") do %>
			  <%= text_field_tag(:word, "", placeholder: ". . .") %>
        <%= submit_tag "Search", class: "hide-off-screen" %>
			<% end %>
		</div>
	</div>
</div>