<% provide(:title, 'Home') %>
<div id="dojo-home" class="hero-unit">
	<%= heading 'Scrabble Dojo', "Practice makes perfect!" %>
	<section>
		<div class="row visible-phone">
			<aside class="span7">
				<div class="well">
					<section class="center">
						<h6>- Word of the day -</h6>
						
						<strong> <%= @random_bingo %> </strong>
					</section>
				</div>
			</aside>
		</div>
		<div class="row">
	    <div class="span7">
				<section>
					<h4>Welcome</h4>
					<p>
						This website is a hobby project that I've been working on since August 2013. It will contain a collection of tools and resources for improving your Scrabble skills.
					</p>
					<% unless logged_in? %>
						<p>
							You need to 
							<%= link_to "log in", login_path %>
							to access most of the features.
						</p>
					<% end %>
					<p>
						<strong>Currently available features:</strong>
						<small>
							<ul>
								<li>Short words list</li>
								<li>Anagram search</li>
								<li>Word stems search</li>
								<li>Memos (memorization feature)</li>
								<li>Bingo challenges</li>
							</ul>
						</small>
					</p>
				</section>
			</div>
			<aside class="offset7 hidden-phone">
				<div class="well">
					<section class="center">
						<h6>- Word of the day -</h6>
						
						<strong> <%= @random_bingo %> </strong>
					</section>
				</div>
			</aside>
		</div>
	</section>
</div>
