<% provide(:title, 'Home') %>
<div class="hero-unit">
 	<h1>Scrabble Dojo</h1>
 	<h2>Practice makes perfect!</h2>
	<hr/>
	<section>
		<div class="row">
	    <div class="span8">
				<section>
					<h4>Welcome</h4>
					<p>
						This website is a hobby project that I've been working on since August 2013. It contains a collection of tools and resources for improving your Scrabble skills.
						<% unless logged_in? %>
							<p>
								You need to 
								<%= link_to "log in", login_path %>
								to access most of the features.
							</p>
						<% end %>
					</p>
					<p>
						All tools that require a dictionary look-up currently only have access to the Norwegian dictionary (NSF-ordliste). Support for other languages may be available in the future.
					</p>
				</section>
				<section>
					<h4>Disclaimer</h4>
					<p>
						The use of these tools are purely meant for the purpose of improving your skills. They should not be used to cheat in Scrabble or other word-based games.
					</p>
				</section>
			</div>
			<div class="offset8">
				<div class="well">
					<section>
						<h4> Word of the day </h4>
						<p>
						<strong> <%= @random_bingo %> </strong>
						</p>
						<p>
						<%= link_to "Next", root_url, class: "btn" %>
						</p>
					</section>
				</div>
			</div>
		</div>
	</section>
</div>
