<% provide(:title, 'Home') %>
<div id="dojo-home" class="hero-unit">
	<%= heading 'Scrabble Dojo', "Practice makes perfect!" %>
	<section>
		<div class="row visible-phone">
			<aside class="span7">
				<div class="well">
					<section class="center">
						<h6>- Word of the day -</h6>
						
						<strong> <%= @random_bingo %> </strong>
					</section>
				</div>
			</aside>
		</div>
		<div class="row">
	    <div class="span7">
				<section>
					<h4>Welcome</h4>
					<p>
						This website is a hobby project that I've been working on since August 2013. It will contain a collection of tools and resources for improving your Scrabble skills.
					</p>
					<% unless logged_in? %>
						<p>
							You need to 
							<%= link_to "log in", login_path %>
							to access most of the features.
						</p>
					<% end %>
					<p>
						Currently the only features available are a list of short words, and Memos, a helpful tool for memorizing words.
					</p>
				</section>
				<section>
					<h4>Language</h4>
					<p>
						All tools that require a dictionary look-up currently only have access to the Norwegian dictionary (NSF-ordliste). Support for other languages may be available in the future.
					</p>
				</section>
				<section>
					<h4>Disclaimer</h4>
					<p>
						The use of these tools are purely meant for the purpose of improving your skills. They should not be used to cheat in Scrabble or other word-based games.
					</p>
				</section>
			</div>
			<aside class="offset7 hidden-phone">
				<div class="well">
					<section class="center">
						<h6>- Word of the day -</h6>
						
						<strong> <%= @random_bingo %> </strong>
					</section>
				</div>
			</aside>
		</div>
	</section>
</div>
