<div class="center hero-unit">
 	<h1>Scrabble Dojo</h1>
 	<h2>Practice makes perfect!</h2>
	<hr/>
	<p>
		Tilfeldig bingo: <b> <%= @word %> </b>
	</p>
	
	<%= link_to "Neste", home_path, class: "btn btn-primary" %>
</div>
