<% provide(:title, 'Home') %>
<div class="hero-unit">
 	<h1>Scrabble Dojo</h1>
 	<h2>Practice makes perfect!</h2>
	<hr/>
	<section>
		<div class="row">
	    <div class="span8">
				<section>
					<h4>Welcome</h4>
					<p>
						This website is a hobby project that I've been working on since August 2013, and contains a collection of tools for improving your Scrabble skills.
						<% unless logged_in? %>
							<p>
								You need a 
								<%= if logged_in? then "user account" else link_to "user account", login_path end %>
								to access most of the features.
							</p>
						<% end %>
					</p>
					<p>
						All tools that require a dictionary look-up currently only have access to the Norwegian dictionary (NSF-ordliste). Support for other languages may be available in the future.
					</p>
					<!-- <p>
						<strong> features that are currently available: </strong>
						<ul>
							<li> <%= link_to "Memo", memos_path %> (requires a user account)</li>
						</ul>
					</p>
					<p>
						<strong> features in progress: </strong>
						<ul>
							<li> Word Judge </li>
							<li> Word / Anagram Search </li>
							<li> Bingo Trainer (requires a user account)</li>
						</ul>
					</p> -->
				</section>
				<section>
					<h4>Disclaimer</h4>
					<p>
						The use of these tools are purely meant for the purpose of improving your skills. They should not be used to cheat in Scrabble or other word-based games.
					</p>
				</section>
			</div>
			<div class="offset8">
				<div class="well">
					<!-- <p>
						Random bingo:
						<br/>
						<strong> <%= @word %> </strong>
						<br/>
						<%= link_to "Next", home_path, class: "btn" %>
					 </p>-->
				</div>
			</div>
		</div>
	</section>
</div>
