<% provide(:title, "Profile") %>
<div id="profile" class="hero-unit">
  <h1>Account</h1>
  <h2>Edit profile</h2>
  <hr/> 
  <%= form_for(@user) do |f| %>
		<fieldset>
	  	<%= render 'fields', f: f, password_placeholder: "Enter your password to edit profile" %>
	  	<div class="row">
		    <div class="span2 offset3"><%= f.submit "Update my account", class: "btn btn-primary" %></div>
		    <div class="span1"><%= link_to "Cancel", root_url, class: "btn" %></div>
		  </div>
		</fieldset>
	<% end %>
</div>
