<% provide(:title, 'Users') %>
<div id="user-overview" class="hero-unit">
	<h1>User</h1>
	<h2>Overview</h2>

	<%= will_paginate %>

	<ul class="users-list">
		<%= render @users %>
	</ul>

	<%= will_paginate %>
</div>