<div class="hero-unit">
	<h1>Account</h1>
	<h2>Profile</h2>
	<div class="row">
  	<aside class="span4">
    	<section>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</section>
		</aside>
	</div>
</div>