<div id="lives-bar">
  <strong class="hidden-phone">Chances remaining:</strong>
  <span id="count" style="display:none;">3</span>
  <span class='icon heart-ph'><%= image_tag 'heart.gif' %></span>
  <span class='icon heart-ph'><%= image_tag 'heart.gif' %></span>
  <span class='icon heart-ph'><%= image_tag 'heart.gif' %></span>
</div>