<% provide(:title, 'Bingo challenges') %>
<div id="bingo-challenges-overview" class="hero-unit">
  <%= heading 'Challenges', 'Overview' %>
  <div class="row">
    <div class="span11 center">
      <%= link_to "Challenge: Random", @random, class: "btn btn-primary" %>
      <hr/>
    </div>
  </div>
</div>