@mixin well_border {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
@mixin well {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #eed;
  @include well_border
}

@mixin dark_well {
  background-color: #ddd !important;
  @include well_border
}


// Bingo challenges overview

#bingo-challenges-overview {
  
}

// Bingo challenge

#bingo-challenge {
  #bingo-challenge-box {
    margin: 15px -40px 20px;
    padding: 10px;

    @include dark_well;
    #lives-bar {
      clear: both;
      float: right;
      padding-right: 5px;
      .icon { margin-top: 5px; }
    }
    #level-bar {
      float: left;
      font-size: 1.4em;
      font-weight: bold;
    }
    #tiles-bar {
      clear: both;
      margin: 55px auto 20px;
      padding: 5px 0;
      width: 194px;
      font-weight: bold;
      font-size: 1.1em;
      color: #733;
      @include well;
    }

    #challenge-form {
      clear: both;
      input[type="text"] { 
        width: 194px !important;
        padding-bottom: 0;
        margin-bottom: 25px;
      }
      #challenge-feedback {
        font-weight: bold;
        font-size: 1.5em;
        position: relative;
        text-align: center;
        top: -5px;
        height: 0px;
      }
      #concede { padding-top: 20px }
    }
    #challenge-loading {
      font-weight: bold;
      font-size: 1.7em;
      padding: 25px 0px;
    }
    #challenge-results {
      padding-top: 10px;
      font-size: 1em;
      #challenge-solutions {
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }
}
