@mixin well_border {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
@mixin tile_border {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-bottom: 2px solid rgba(0, 0, 0, 0.45);
  border-right: 2px solid rgba(0, 0, 0, 0.45);
  border-top: 2px solid rgba(0, 0, 0, 0.15);
  border-left: 2px solid rgba(0, 0, 0, 0.15);
}
@mixin well {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  @include well_border
}

@mixin dark_well {
  background-color: #ddd !important;
  @include well_border
}


// Bingo challenges overview

#bingo-challenges-overview {
  
}

// Bingo challenge

#bingo-challenge {
.icon { margin-top: 2px; }

  #bingo-challenge-box {
    margin: 15px -40px 20px;
    padding: 10px;
    @include dark_well;

    #lives-bar {
      clear: both;
      float: right;
      padding-right: 5px;
    }

    #level-bar {
      float: left;
      font-size: 1.4em;
      font-weight: bold;
    }
    
    #challenge-feedback {
      font-weight: bold;
      font-size: 2em;
      letter-spacing: 3px;
      position: relative;
      text-align: center;
      top: -10px;
      height: 0px;
    }

    #challenge-form {
      clear: both;
      margin-top: 55px;

      #tiles-bar {
        margin: 0 auto 25px;
        padding: 14px 0 12px;
        width: 262px;
        background-color: #363;
        @include well;
        @include tile_border;

        .tile {
          padding: 3px 6px 1px;
          margin: 0;
          color: #733;
          background-color: #eed;
          font-size: 1.8em;
          font-weight: bold;
          font-family: "Courier New", Courier, monospace;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          @include tile_border;
        }
      }

      #btn-challenge {
        padding-top: 20px;
        .btn { font-size: 16px !important; }
      }
    }

    #challenge-loading {
      clear: both;
      font-weight: bold;
      font-size: 1.2em;
      padding: 25px 0px 10px;
    }
    
    #challenge-results {
      padding-top: 10px;
      font-size: 1em;
      #challenge-solutions {
        font-size: 0.75em;
        font-weight: bold;
      }
    }
  }
}
