$statusTextGreen: #383;
$statusTextYellow: #AA2;
$statusTextRed: #833;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin dark_well {
  background-color: #ddd;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	@include box_sizing;
}



// General

table tr td.word-column {
  text-align: right;
  vertical-align: middle;
  font-weight: bold;
}

div.progress {
	margin: 5px;
	width: 200px;
	.bar {
		position: relative;
	}
}

.progress-short {
	width: 50px !important;
}

.btn-bold {
	font-weight: bold;
}

.btn-toolbar {
	padding-bottom: 10px;
	#btn-hints, #btn-words {
		width: 100px;
	}
}

.word-box {
	font-size: 15px;
	padding: 10px;
	@include dark_well;
}

#memo-form {
	.btn {
		width: 100%;
		padding-left: -1px;
	}
}

.memo-status {
	color: #555;
	.text-green { color: $statusTextGreen !important}
	.text-yellow { color: $statusTextYellow !important }
	.text-red { color: $statusTextRed !important }
	p {
		font-size: 0.7em;
	}
}

// Index page

#memo-overview {
	table {
		tr {
			td { font-size: 0.8em; }
		}
	}
	.memo-status {
		padding-top: 0;
		.progress-info-box {
			margin-left: -4px;
			padding-top: 4px;
			@include dark_well;
			.progress-info {
				padding-top: 5px;
				padding-right: 5px;
				p {
					color: #333;
					font-size:12px;
					line-height: 16px;
				}
			}
		}
	}
}


// Show page 

#memo-revise {
	div.progress {
		height: 30px;
		margin-top: 10px;
	}
	.memo-status { padding-top: 19px }
	#box-practice textarea {
		height: 150px !important;
	}
}



// Results page

#memo-results {
	div.progress {
		width: 100%;
		height: 40px;
		margin: 0 0 10px 0;
	}
	.health-update {
		padding-top: 66px;
		.text {
			padding-top: 10px;
			text-align: center;
			color: $statusTextGreen;
			letter-spacing: -1px;
			.text-danger {
				color: $statusTextRed;
			}
		}
	}
	.memo-status { padding-top: 66px }
	.btn-group{
		padding-top: 20px;
		padding-bottom: 30px;
	}
	.word-box.solution {
		background-color: #ded;
		border: 1px solid rgba(0, 100, 0, 0.15);
		color: #242;
	}
	.word-box.wrong {
			background-color: #edd;
			border: 1px solid rgba(100, 0, 0, 0.15);
			color: #422;
	}
}