<p><b><%= @memo.name %></b></p>
<p>Health bar: <b><%= health(@memo) %>%</b></p>
<p>Number of words: <b><%= @memo.word_list.split.count %></b></p>
<p>Number of practices: <b><%= @memo.num_practices %></b></p>
<hr/>