<% provide(:title, 'Edit memo') %>
<div id="memo-form" class="hero-unit">
	<h1>Memo</h1>
	<h2>Edit</h2>
	<hr/>
	<%= form_for(@memo) do |f| %>
	  <fieldset>
			<%= render 'fields', f: f %>
			<div class="row">
	      <div class="span1"><%= f.submit "Update", id: "memo-form-submit", class: "btn btn-primary" %></div>
	      <div class="offset1 span1"><%= link_to 'Back', memos_path, class: "btn" %></div>
	    </div>
	  </fieldset>
	<% end %>
</div>