<div class="hero-unit">
	<h1>Memo</h1>
	<h2>Edit</h2>
	<hr/>
	<%= render 'form' %>
	<hr/>
	<div class="row">
		<div class="span2">
      <%= link_to 'Back', memos_path, class: "btn" %>
    </div>
  </div>
</div>