<div class="hero-unit">
	<h1>Memo</h1>
	<h2>Create</h2>
	<p id="notice"><%= notice %></p>
	<hr/>
	<%= render 'form' %>
	<hr/>
	<div class="row">
		<div class="span2">
      <%= link_to 'Tilbake', memos_path, class: "btn" %>
     </div>
   </div>
</div>
