<footer class="footer">
  <div class="row">
    <div class="span5">
      <small>
        A Scrabble training tool
        by Joel Chelliah
      </small>
    </div>
    <div class="span7">
      <nav>
        <%= show_tile_count_table %>
      </nav>
    </div>
  </div>
</footer>